.blogLayout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px;
}

.blogLayout h2 {
    text-align: center;
    font-size: 36px;
    color: var(--dark-blue);
    font-weight: bold;
}

.blogLayout>p {
    font-size: 24px;
    width: 70%;
    text-align: center;
    color: var(--blue);
    font-style: italic;
}

.blogLayout>hr {
    width: 100%;
    border: 1px solid var(--dark-blue);
    margin-bottom: 20px;
}

.blogContent {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 100px);
}

.blog {
    width: 75%;
}

/*-----FILTER SIDEBAR-----*/

.filterBar {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.divider {
    border: 0;
    font-size: 18px;
    height: 1.5em;
    line-height: 1em;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.divider::before {
    content: "";
    background: var(--dark-blue);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.divider::after {
    background-color: white;
    color: var(--dark-blue);
    font-weight: bold;
    content: attr(data-content);
    line-height: 1.5em;
    padding: 0 7px;
    position: relative;
}

.filterBar ul {
    list-style-type: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--dark-blue);
}

.filterBar ul li {
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 50px;
    border: 2px solid transparent
}

.filterBar ul li:hover {
    cursor: pointer;
    border: 2px solid var(--blue);
}

.selectedCategory {
    background-color: var(--dark-blue);
    color: white;
}

.filterCities {
    display: flex;
    flex-direction: column;
}

.filterBar select {
    width: 100%;
    font-size: 20px;
    align-self: center;
    color: var(--dark-blue);
    padding: 10px 20px;
    border-radius: 50px;
}


/*-----BLOG CONTENT-----*/

.blogPosts {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.blogPost {
    flex: 0 0 1;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0px var(--dark-blue);
    transition: all 0.2s ease-out;
}

.blogPost:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px 0px var(--dark-blue);
}

.blogPostCover {
    position: relative;
    width: 100%;
    min-height: 40%;
    height: 40%;
}

.blogPostCover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.blogPostDate {
    text-align: end;
    padding-right: 10px;
    font-size: 12px;
    color: var(--dark-blue);
}

.blogPostTitle {
    display: flex;
    align-items: center;
    height: 20%;
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
    padding: 0 10px;
}

.blogPostSubtitle {
    padding: 10px;
    display: -webkit-box;
    font-style: italic;
    font-size: 16px;
    color: var(--dark-blue);
    word-wrap: break-word;
    overflow: hidden;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.blogPostFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    margin-top: auto;
    padding: 10px;
    font-size: 12px;
    color: var(--dark-blue);
}

.authorInfo {
    gap: 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

.authorInfo img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

@media (max-width:1024px) {
    .blogLayout>p {
        width: 80%;
    }

    .filterBar ul li {
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
    }

    .filterBar select {
        font-size: 18px;
        align-self: center;
        color: var(--dark-blue);
    }

}

@media (max-width:768px) {
    .blogLayout>p {
        width: 90%;
        font-size: 20px;
    }
    .blogLayout>hr{
        margin:0;
    }

    .blogContent {
        flex-direction: column;
        gap: 30px;
    }

    .filterBar {
        width: 100%;
    }

    .blog {
        width: 100%
    }

    .divider {
        font-size: 2vw;
    }

    .filterBar ul {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .filterBar ul li {
        font-size: 2vw;
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid var(--blue)
    }

    .filterBar select {
        padding-left: 10px;
    }

    .blogPost {
        flex: 1 0 45%;
        max-width: 350px;
    }

    .blogPostTitle {
        font-size: 20px;
    }

    .blogPostSubtitle {
        font-size: 16px;
    }

}

@media (max-width:480px) {
    .blogLayout {
        padding: 20px 10px;
    }

    .blogLayout>p {
        width: 100%;
    }

    .divider {
        font-size: 3.5vw;
    }

    .filterBar ul li {
        font-size: 3.5vw;
    }

}