.blogLayout {
    display: flex;
    width: 100%;
}

.blog {
    width: 75%;
}

.filterBar {
    width: 25%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.divider {
    border: 0;
    font-size: 18px;
    height: 1.5em;
    line-height: 1em;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.divider::before {
    content: "";
    background: var(--dark-blue);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.divider::after {
    background-color: white;
    color: var(--dark-blue);
    font-weight: bold;
    content: attr(data-content);
    line-height: 1.5em;
    padding: 0 7px;
    position: relative;
}

.filterBar ul {
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--dark-blue);
}

.filterBar ul li {
    font-size: 20px;
}

.filterBar ul li:hover {
    cursor: pointer;
    color: var(--blue);
    text-decoration: underline;

}

.filterCities {
    display: flex;
    flex-direction: column;
}

.filterBar select {
    width: 100%;
    font-size: 20px;
    align-self: center;
    color: var(--dark-blue);
    padding-left: 20px;
}
.filterCities select option:hover{
    background-color: var(--blue);
   
}



.blogPosts {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 30px;
}

.blogPost {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 500px;
    border-radius: 10px;
    /* border: 1px solid var(--dark-blue) */
    box-shadow: 0px 0px 18px 0px var(--dark-blue);
    transition: all 0.2s ease-out;
}

.blogPost:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px 0px var(--dark-blue);
}

.blogPostCover {
    position: relative;
    width: 100%;
    min-height: 40%;
}

.blogPostCover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.blogPost p {
    width: 100%;
    padding: 0 10px 0 10px;
}

.blogPostDate {
    text-align: end;
    padding-right: 10px;
    font-size: 12px;
    color: var(--dark-blue);
}

.blogPostTitle {
    height: 20%;
    margin: 10px 0 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}

.blogPostSubtitle {
    display: -webkit-box;
    font-style: italic;
    font-size: 16px;
    color: var(--dark-blue);
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.authorInfo {
    display: flex;
    align-items: center;
    height: 10%;
    margin-top: auto;
    padding: 0 0 10px 10px;
    font-size: 15px;
    color: var(--dark-blue);
}

.authorInfo img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}