/*-----HEADER-----*/
.header {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    gap: 30px;
    color: var(--dark-blue);
    z-index: 1000;
}

.mobileMenu {
    display: none;
}

/*-----SITE LOGO-----*/
.pugliaProjectLogo {
    flex: 1;
    display: flex;
    justify-content: center;
}


.pugliaProjectLogo img {
    display: block;
    height: 100%;
    width: 100px;
    object-fit: cover
}

/*-----HEADER MENU-----*/
.headerNavList {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.headerNavList li {
    color: white;
}

/*-----SOCIAL AND AUTH SECTION-----*/

.searchbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.searchbar input {
    width: 100%;
    color: white;
    border-radius: 0;
    background-color: var(--blue);
    border: none;
    border-bottom: 1px solid white;
    font-weight: 500;
}

.searchbar input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid white;
}

.searchBtn {
    background-color: transparent;
    border: none;
    transition: transform 200ms ease-in-out;
}

.searchBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.authSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.authSection img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.logoutBtn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 5px;
    padding: 5px;
    border-radius: 50px;
    font-weight: 600;
    transition: all 200ms linear;
}

.logoutBtn:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
    color: white;
}

.logInLink {
    color: white;
    font-weight: 500;
    transition: all 200ms ease-in-out;
}

.registerLink {
    background-color: var(--light-blue);
    font-weight: 500;
    padding: 10px;
    border-radius: 30px;
    color: var(--dark-blue);
    transition: all 200ms ease-in-out
}

.logInLink:hover {
    text-decoration: underline;
}

.registerLink:hover {
    background-color: var(--teal);
    color: white;
}

@media (max-width: 1280px) {
    /* Stili per laptop piccoli e desktop */
}

@media (max-width: 1024px) {
    /* Stili per tablet */
}

@media (max-width: 768px) {
    /* Stili per dispositivi mobili */
}

/*VERY SMALL DEVICES*/
@media screen and (max-width: 480px) {
    .header {
        height: 70px;
    }

    .mobileMenu {
        display: block;
        height: 70px;
    }

    .mobileMenu img {
        height: 100%;
        width: 40px;
    }

    .mobileMenuNav {
        position: absolute;
        padding: 20px 30px;
        top: 70px;
        left: 0;
        width: 100%;

        background-color: var(--blue);
    }

    .mobileMenuNav ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        list-style-type: none;
    }

    .mobileMenuNav ul a {
        color: white;
        font-size: 24px;
    }

    .mobileMenuNav .authSection {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        margin-top: 30px;
    }

    .mobileMenu .logInLink {
        font-size: 18px;
        text-decoration: underline;
    }

    .logoutBtn {
        margin: 0 auto;
    }

    .logoutBtn img {
        height: 30px;
        width: 30px;
    }

    .mobileMenu .registerLink {
        background-color: transparent;
        font-size: 18px;
        padding: 0;
        text-decoration: underline;
        color: white;

    }

    .pugliaProjectLogo {
        display: none;
    }

    .headerNav {
        display: none;
    }

    .pugliaLogo {
        display: none;
    }

    .socialSection {
        display: none;
    }

    .authSection {
        display: none;
    }
}

/*MOBILE DEVICES*/
@media screen and (max-width: 768px) {}