/*-----HEADER-----*/
.header {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    color: var(--dark-blue);
    justify-content: space-between;
    z-index: 1000;
}

/*-----SITE LOGO-----*/

.pugliaProjectLogo {
    height: 100px;
    width: 100px;
}

.pugliaProjectLogo img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

/*-----HEADER MENU-----*/

.headerNavList {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.headerNavList li {
    color: white;
}


.pugliaLogo {
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1;
}
.pugliaLogo img{
    height: 100%;
    width:auto;
    text-align: center;
    margin: 0 auto;
}

/*-----SOCIAL AND AUTH SECTION-----*/
.socialBar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 30px;
}

.socialSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialSection img {
    transition: transform 200ms linear;
}

.socialSection img:hover {
    transform: scale(1.2);

}

.authSection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.authSection img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.logoutBtn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 5px;
    padding: 5px;
    border-radius: 50px;
    font-weight: 600;
    transition: all 200ms linear;
}

.logoutBtn:hover {
    background-color: var(--dark-blue);
    cursor: pointer;
    color: white;
}

.logInLink {
    color: white;
    font-weight: 500;
    transition: all 200ms ease-in-out;
}

.registerLink {
    background-color: var(--light-blue);
    font-weight: 500;
    padding: 10px;
    border-radius: 30px;
    color: var(--dark-blue);
    transition: all 200ms ease-in-out
}

.logInLink:hover {
    text-decoration: underline;
}

.registerLink:hover {
    background-color: var(--teal);
    color: white;
}

/*VERY SMALL DEVICES*/
@media screen and (max-width: 480px) {
    .header {
        height: 70px;
    }

    .headerNavList {
        display: none;
    }

    .pugliaLogo {
        display: none;
    }

    .socialSection {
        display: none;
    }
}

/*MOBILE DEVICES*/
@media (max-width: 768px) {

}