.login,
.register {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 50px;
    height: calc(100vh - 90px);
    background-color: var(--dark-blue);

}

.loginContainer,
.registerContainer {
    display: flex;
    width: 70%;
    box-shadow: 5px 5px 15px 5px var(--dark-blue);
    border-radius: 10px;
}

.loginImg,
.registerImg {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 0 0 10px;

}

.login form,
.register form {
    width: 50%;
    /* color: white; */
    color: var(--dark-blue);
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: var(--orange); */
    background-color: white;
    border-radius: 0 10px 10px 0;
}

.login form input:focus,
.register form input:focus {
    box-shadow: 0px 0px 3px 5px var(--light-orange);
}

.login form h2,
.register form h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.login input {
    height: 3rem;
    font-size: 20px
}

.register input {
    font-size: 15px;
}

.login input[type='password'],
.register input[type='password'] {
    font-size: 15px
}


.login button,
.register button {
    margin-top: 10px;
    height: 3rem;
    font-size: 20px;
    border-radius: 50px;
}

.divider {
    border: 0;
    font-size: 14px;
    height: 1.5em;
    line-height: 1em;
    position: relative;
    text-align: center;
}

.divider::before {
    content: "";
    background: var(--dark-blue);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.divider::after {
    background-color: white;
    color: var(--dark-blue);
    font-weight: 600;
    content: attr(data-content);
    line-height: 1.5em;
    padding: 0 7px;
    position: relative;
}

.googleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
}
.googleBtn img {
    height: 30px;
    width: 30px;;
}

@media (max-width:1280px) {

    .loginContainer,
    .registerContainer {
        width: 100%;
    }
}

@media (max-width:1024px) {

    .login,
    .register {
        padding: 0;
    }

    .loginContainer,
    .registerContainer {
        width: 100%;
        border-radius: 0;
    }

    .loginImg,
    .registerImg {
        border-radius: 0;
    }

    .loginContainer form,
    .registerContainer form {
        border-radius: 0;
        padding: 30px;
    }
}

@media (max-width:768px) {

    .loginContainer,
    .registerContainer {
        width: 80%;
        padding: 50px;
        box-shadow: none;
        ;
    }

    .loginImg,
    .registerImg {
        display: none;
    }

    .loginContainer form,
    .registerContainer form {
        width: 100%;
        padding: 40px;
        border-radius: 10px;
    }
}

@media (max-width:500px) {

    .loginContainer,
    .registerContainer {
        width: 100%;
        padding: 0;
    }

    .loginContainer form,
    .registerContainer form {
        padding: 50px;
        border-radius: 0;
    }

    .login button,
    .register button {
        font-size: 5vw;
    }
}