/*----MAIN CONTAINER OF THE PAGE----*/
.postContainer {
    display: flex;
    padding: 30px;
    gap: 100px;
}

/*----SIDEBAR LEFT----*/
.postSidebarLeft {
    width: 20%;
    position: sticky;
    top: 130px;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.featuredPosts ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
}

.featuredPosts a {
    color: var(--dark-blue);
    font-weight: 600;
    transition: all 200ms ease-in-out;
}

.featuredPosts a:hover {
    transform: translateX(10px);
    box-shadow: -5px 0px 20px 0px var(--dark-blue);
}

.featuredPost {
    display: flex;
    gap: 10px;
    height: 130px;
    width: 100%;
    border: 1px solid var(--dark-blue);
}

.featuredPostImage {
    position: relative;
    height: 100%;
    width: 40%;
    padding: 10px 0 10px 10px
}

.featuredPostImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featuredPostTitle {
    width: 60%;
    overflow: hidden;
    padding: 10px 10px 10px 0;
}


.divider {
    border: 0;
    font-size: 18px;
    height: 1.5em;
    line-height: 1em;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}


.divider::before {
    content: "";
    background: var(--dark-blue);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.divider::after {
    background-color: white;
    color: var(--dark-blue);
    font-weight: bold;
    content: attr(data-content);
    line-height: 1.5em;
    padding: 0 7px;
    position: relative;
}

/*-----POST ARTICLE-----*/


.postArticle {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: var(--dark-blue);
    gap: 10px;
    font-size: 24px;
}

.postArticle .postSidebarLeft {
    display: none;
}

/*-----POST HEADER SECTION-----*/

.postHeader {
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    gap: 20px;
}

.authorInfo {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.authorInfo img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.authorName p:nth-of-type(1) {
    font-size: 18px;
    font-weight: bold;
}

.authorName p:nth-of-type(2) {
    font-size: 15px;
    font-style: italic;
}

.shareButtons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.shareButtons img {
    width: 25px;
    height: auto;
    transition: transform 200ms linear;
}

.shareButtons img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*-----POST HERO SECTION-----*/
.postHero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.postTitle {
    font-weight: bold;
    font-size: 48px;
    margin-top: 10px
}

.postMainImageBox {
    position: relative;
    margin: 20px auto;
    width: 90%;
    height: 500px;
}

.postMainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postSubtitle {
    font-size: 24px;
    font-weight: 600;
}

/*-----POST BODY -----*/
.postBody {
    position: relative;
}

.postBody h3 {
    font-size: 36px;
    margin: 30px 0 20px 0;
}

.postBody h4 {
    font-size: 30px;
    margin: 20px 0 10px 0;
}

.postBody .embeddedImage {
    width: 90%;
    height: 400px;
    margin: 50px auto;
}

.postBody p {
    font-size: 20px;
    margin-bottom: 10px;
}

.postBody ul,
.postBody ol {
    padding-left: 40px;
}

.postbody li:before {
    font-size: 30px;
    font-weight: 600;
}

.postBody a {
    color: var(--blue);
    font-weight: 600;
}

.postBody a:hover {
    text-decoration: underline;
}



/*-----SHARING Sidebar-----*/
.sharingSidebar {
    display: none;
}

.postBody .sharingSidebar hr {
    display: none;
}

.stickySidebarWrapper {
    position: absolute;
    top: 0px;
    right: -100px;
    width: 50px;
    height: 100%;
}

.postBody .sharingSidebar {
    display: block;
    position: sticky;
    top: 130px;
    height: fit-content;
    padding: 20px 0 20px 20px;
    border-left: 1px solid var(--dark-blue);
    border-radius: 10px
}

.postBody .sharingSidebar h3 {
    display: none;
}

.postBody .sharingSidebar .shareButtons {
    display: flex;
    flex-direction: column;
}

.postBody .sharingSidebar .shareButtons img {
    width: 35px;
    height: auto;
    transition: transform 200ms linear;
}


/*----RELATED POSTS-----*/

.relatedPostsContainer {
    background-color: var(--blue);
    color: white;
    padding: 30px;
}

.relatedPostsContainer h2 {
    font-size: 36px;
    margin-bottom: 20px
}

.relatedPostsList {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    list-style-type: none;
}

.relatedPostsList li {
    flex: 1 1 30%;
    max-width: 30%;
    height: 200px;
}

.relatedPost {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.relatedPost:hover {
    text-decoration: underline;
    box-shadow: -5px 0px 20px 0px var(--dark-blue);
}

.relatedPostImage {
    width: 50%;
    height: 100%;
}

.relatedPostImage img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.relatedPostTitle {
    width: 50%;
    height: 100%;
    font-size: 22px;
    padding: 10px 10px 10px 0;
    align-content: center;

}


@media (max-width:1440px) {
    .postArticle {
        width: 65%;
    }
}

@media (max-width:1280px) {
    .postContainer {
        gap: 50px;
    }

    .postSidebarLeft {
        width: 25%;
    }

    .featuredPostTitle {
        font-size: 15px;
    }

    .stickySidebarWrapper {
        right: -70px;
    }

    .relatedPostContainer>h2 {
        font-size: 30px;
    }
}

@media (max-width:1024px) {
    .postSidebarLeft {
        display: none;
    }

    .postContainer {
        justify-content: center;
        padding: 20px;
    }

    .postArticle {
        width: 80%;
    }

    .stickySidebarWrapper {
        display: none;
    }

    .postBody .sharingSidebar {
        display: none;
    }

    .sharingSidebar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .sharingSidebar h3 {
        font-size: 36px;
    }

    .sharingSidebar .shareButtons img {
        width: 40px;
    }

    .relatedPostsList {
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .relatedPostsList li {
        flex: 1 1 40%;
        max-width: 40%;
    }

}

@media (max-width:768px) {

    .authorName p:nth-of-type(1) {
        font-size: 2vw;
    }

    .authorName p:nth-of-type(2) {
        font-size: 2vw;
    }

    .shareButtons img {
        width: 23px;
    }

    .postMainImageBox {
        margin: 0;
        width: 100%;
    }

    .sharingSidebar .shareButtons img {
        width: 35px;
    }

    .postContainer {
        justify-content: center;
    }

    .postArticle {
        width: 90%;
    }

    .sharingSidebar {
        padding: 20px;
    }

    .relatedPostsContainer {
        padding: 20px;
    }



    .relatedPostTitle {
        font-size: 20px;
    }
}

@media (max-width:600px) {
    .relatedPostsList li {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media (max-width:480px) {
    .authorInfo img {
        width: 30px;
        height: auto;
    }

    .authorName p:nth-of-type(1) {
        font-size: 3vw;
    }

    .authorName p:nth-of-type(2) {
        font-size: 3vw;
    }

    .shareButtons {
        gap: 10px
    }

    .shareButtons img {
        width: 20px;
    }

    .postContainer {
        padding: 10px;
    }

    .postArticle {
        width: 100%;
    }

    .postTitle {
        font-size: 32px;
    }

    .postMainImageBox {
        height: 350px;
    }

    .postSubtitle {
        font-size: 18px;
    }

    .postBody h3 {
        font-size: 24px;
    }

    .postBody h4 {
        font-size: 21px;
    }

    .postbody li:before {
        font-size: 21px;
    }

    .postBody ul,
    .postBody ol {
        padding-left: 25px;
    }

    .postBody .embeddedImage {
        margin: 20px auto;
        width: 100%;
        max-height: 300px;
    }

    .sharingSidebar h3 {
        font-size: 24px;
    }

    .sharingSidebar .shareButtons {
        gap: 20px
    }

    .sharingSidebar .shareButtons img {
        width: 28px;
    }
}