.postLayout {
    display: flex;
    padding: 30px;
    gap: 100px;
}

.postSidebar {
    width: 20%;
    position: sticky;
    top: 130px;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid red;
}

.postSidebarR {
    border: 1px solid red;
    width: 15%;
}

.featuredPosts ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featuredPosts a {
    color: var(--dark-blue);
    font-weight: 600;
    transition: all 200ms ease-in-out;
    border-radius: 10px;
}

.featuredPosts a:hover {
    transform: translateX(10px);
    box-shadow: -5px 0px 20px 0px var(--dark-blue);
}


.divider {
    border: 0;
    font-size: 18px;
    height: 1.5em;
    line-height: 1em;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}


.divider::before {
    content: "";
    background: var(--dark-blue);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.divider::after {
    background-color: white;
    color: var(--dark-blue);
    font-weight: bold;
    content: attr(data-content);
    line-height: 1.5em;
    padding: 0 7px;
    position: relative;
}


.post {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: var(--dark-blue);
    gap: 10px;
    font-size: 24px;
}

.postHeader {
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    gap: 20px;
}

.authorInfo {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.authorInfo img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.authorName p:nth-of-type(1) {
    font-size: 18px;
    font-weight: bold;
}

.authorName p:nth-of-type(2) {
    font-size: 15px;
    font-style: italic;
}

.shareButtons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.shareButtons img {
    width: 25px;
    height: auto;
    transition: transform 200ms linear;
}

.shareButtons img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*-----POST HERO SECTION-----*/
.postHero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.postTitle {
    font-weight: bold;
    font-size: 48px;
    margin-top: 10px
}

.postMainImageBox {
    position: relative;
    margin: 20px auto;
    width: 90%;
    height: 500px;
}

.postMainImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.postSubtitle {
    font-size: 24px;
    font-weight: 600;
}

/*-----POST BODY -----*/
.postBody h3 {
    font-size: 36px;
    margin: 30px 0 20px 0;
}

.postBody h4 {
    font-size: 30px;
    margin: 20px 0 10px 0;
}

.postBody .embeddedImage {
    margin: 20px 0;
}

.postBody p {
    margin-bottom: 10px;
}

.postBody ul,
.postBody ol {
    padding-left: 50px;
}

.postbody li:before {
    font-size: 30px;
    font-weight: 600;
}

.postBody a {
    color: var(--dark-blue);
    font-weight: 600;
}
.postBody a:hover {
    text-decoration: underline;
    color: var(--blue);
}