.postLayout {
    display: flex;
    padding: 30px;
    gap: 50px;
}

.postLayout aside {
    width: 20%;
}


.divider {
    border: 0;
    font-size: 18px;
    height: 1.5em;
    line-height: 1em;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.divider::before {
    content: "";
    background: var(--dark-blue);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.divider::after {
    background-color: white;
    color: var(--dark-blue);
    font-weight: bold;
    content: attr(data-content);
    line-height: 1.5em;
    padding: 0 7px;
    position: relative;
}


.post {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--dark-blue);
    gap: 10px;
}

.postInfo {
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.authorInfo {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.authorInfo img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.authorName p:nth-of-type(1) {
    font-weight: bold;
}

.authorName p:nth-of-type(2) {
    font-size: 15px;
    font-style: italic;
}

.publishingDate {
    display: flex;
    align-items: center;
    gap: 10px;
}

.postTitle {
    font-weight: bold;
    font-size: 48px;
    margin-top: 10px
}

.postMainImageBox {
    position: relative;
    margin: 20px auto;
    width: 80%;
    height: 500px;
}

.postMainImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.postSubtitle {
    font-size: 24px;
    opacity: 0.8;
}