.searchbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchbar input {
    color: white;
    border-radius: 0;  
    background-color: var(--blue);
    border: none;
    border-bottom: 1px solid white;
    font-weight: 500;
}
.searchbar input:focus{
   outline: none;
   box-shadow: none;
   border-bottom: 2px solid white;
}

.searchBtn {
    background-color: transparent;
    border: none;
    transition: transform 200ms ease-in-out;
}
.searchBtn:hover{
    cursor: pointer;
    transform: scale(1.2);
}

@media screen and (max-width:1440px) {

}
